@import "../ColorPalette.scss";

main {
    padding-top: 32px;
}

.buy_section {
    margin-bottom: 1em;
    .condition_qty {
        text-transform: capitalize;
        color: $ml-secondary-text;
        font-size: 14px;
        margin: 0 0 16px 0;
    }   
    .title {
        font-size: 24px;
        margin: 0 0 32px 0;
    }
    .price {
        font-size: 46px;
        margin: 0 0 32px 0;
    }
    button {
        background-color: $ml-secondary;
        width: 100%;
        padding: 14px 1em;
        border-radius: 4px;
        border-style: none;
        color: white;
    }
}

.photo_section {

}

.descrip_section {
    margin-top: 5em;
    .descrip {
        font-size: 28px;
        margin: 0 0 32px 0;
    }
    p {
        font-size: 16px;
    }
}