@import "../ColorPalette.scss";

main {
    padding-top: 16px!important;
}
.cardWide {
    border-bottom: 1px solid $ml-background;
    padding: 16px 0;
    margin-bottom: 16;
    .hasShipping {
        &::after{
            content: '';
            width: 30px;
            height: 30px;
            background: url(/assets/ic_shipping.png) no-repeat;
            top: 2.5px;
            right: -8px;        
            position: absolute;
            display: inline-block;
        }
    }
    .price {
        font-size: 24px;
        color: $ml-primary-text;
        margin: 0 0 32px 0;
    }
    .title {
        font-size: 18px;
        margin: 0;
    }
    .city {
        color: $ml-optional-text;
        font-size: 12px;
    }
    image{
        border-radius: 4px;
    }

}