@import "../ColorPalette.scss";

.ml_nav {
    background-color: $ml-primary;
    padding: 0.5em 0em;

    form {
        display: flex;
        width: 100%;
    }
    input {
        width: 100%;
        padding: 9px;
        border-radius: 4px 0px 0px 4px;
        border-color: white;
        border-style: none;
        color: $ml-optional-text;
    }
    button {
        display: flex;
        border: 0px;
        border-radius: 0px 4px 4px 0px;
        padding: 0px 10px;
    }
    a img {
        height: 30px;
        display: block;
    }
}